.buttonDiv{
    width: 20%;
    margin: auto;
}

.changeName{
    width: 200px;
    font-size: 15px;
    border-color: purple;
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: purple;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.changeEmail{
    width: 200px;
    font-size: 15px;
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--secondary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.changePassword{
    width: 200px;
    font-size: 15px;
    border-color: var(--tertiary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--tertiary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.goBack{
    width: 200px;
    font-size: 15px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--primary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}