
#edit-todo-page{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#edit-input-div{
    flex: 2;
    margin: 10px 0px;
}

#edit-button-div{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

#edit-heading{
    font-size: 3vw;
    text-align: center;
    color: var(--primary);
    font-weight: bolder;
}

#edit-todo-name{
    color: var(--primary);
    font-size: 20px;
    padding: 10px 0px;
}
label{
    padding: 10px 0px;
}
#edit-todo,#edit-todo-name{
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
#edit-todo{
    width: 100%;
}
#edit-add-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--tertiary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--tertiary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

#edit-save-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--primary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}


#edit-cancel-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--secondary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
