#home-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#nav-area{
    background-color: white;
    flex: 1;
    margin: 0px 10px;
}

#content-area{
    background-color: white;
    color: var(--primary);
    padding: 20px 10px;
    width: 98%;
    align-items: center;
    flex: 2;
}
#name-div{
    font-size: 25px;
    font-weight: bolder;
    color: var(--primary);
    float: left;
}
#home-button-div{
    display: inline;
    float: right;
}
#create-todo{
    background-color: var(--secondary);
    color: var(--buttonTextColor);
    border: var(--secondary) solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    float: right;
    cursor: pointer;
}


#account-settings{
    background-color: var(--primary);
    color: var(--buttonTextColor);
    border: var(--primary) solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    float: right;
    cursor: pointer;
}


#logout-button{
    background-color: red;
    color: white;
    border: red solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    float: right;
    cursor: pointer;
}


table,td, th {
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}
#table-row1{
    font-size: 18px;
    background-color: var(--primary);
    font-weight: bolder;
}
#table-row1-heading1{
    color: var(--buttonTextColor);
}
#data-table{
    width: 100%;
    font-size: 18px;
}

#table-row{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
}
#table-row:hover{
    background-color: var(--tertiary);
    color: var(--secondary);
}
#table-row-data1{
    width: 20%;
    padding: 10px;
}
#table-row-data2{
    width: 72%;
    padding: 10px;
}
#table-row-data3{
    width: 8%;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: var(--primary);
}
#complete{
    outline: 2px solid var(--primary) ;
}


