#create-todo{
    background-color: green;
    color: white;
    border: green solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

#create-todo:hover{
    background-color: white;
    color: green;
    border: green solid 2px;
}

#account-settings{
    background-color: var(--primary);
    color: var(--secondary);
    border: var(--secondary) solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

#account-settings:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border: var(--primary) solid 2px;
}

#logout-button{
    background-color: red;
    color: white;
    border: red solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

#logout-button:hover{
    background-color: white;
    color: red;
    border: red solid 2px;
}

#home-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#nav-area{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex: 1;
}

#content-area{
    background-color: white;
    color: var(--primary);
    padding: 20px;
    width: 97%;
    align-items: center;
    flex: 2;
}

table,td, th {
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}
#table-row1{
    font-size: 18px;
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bolder;
}
#data-table{
    width: 100%;
    font-size: 18px;
}

#table-row{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
}
#table-row:hover{
    background-color: var(--tertiary);
    color: var(--secondary);
}
#table-row-data1{
    width: 20%;
    padding: 10px;
}
#table-row-data2{
    width: 72%;
    padding: 10px;
}
#table-row-data3{
    width: 8%;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: var(--primary);
}
#complete{
    outline: 2px solid var(--primary) ;
}


