
#todo-page{
    display: block;
    margin: auto;
    width: 70%;
}

#input-div{
    flex: 2;
    display: grid;
    margin: 10px 0px;
}

#button-div{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

#heading{
    font-size: 3vw;
    text-align: center;
    color: var(--primary);
    font-weight: bolder;
}

#todo-name{
    color: var(--primary);
    font-size: 20px;
    padding: 10px 0px;
}
label{
    padding: 10px 0px;
}
#todo,#todo-name{
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
#add-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--tertiary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--tertiary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

#save-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--primary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}


#cancel-button{
    width: 200px;
    font-size: 15px;
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
    color: var(--buttonTextColor);
    background-color: var(--secondary);
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

table,td, th {
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    margin-top: 10px;
}
#table-row1{
    font-size: 18px;
    background-color: var(--primary);
    color: var(--buttonTextColor);
    font-weight: bolder;
}
#data-table{
    width: 100%;
    font-size: 18px;
}

#table-row{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
}
#table-row:hover{
    background-color: var(--tertiary);
    color: var(--buttonTextColor);
}
#table-row-data1{
    width: 20%;
    padding: 10px;
}
#table-row-data2{
    width: 72%;
    padding: 10px;
}
#complete{
    outline: 2px solid var(--primary) ;
}
